{% extends 'exchange/base.html' %}
{%block title%}
{%endblock%}
{% load crispy_forms_tags %}
{% load static %}

{%block content%}
<div class="mx-auto" style="width: 500px;">
    <h1>ADD BOOK</h1>
    <form  method="post" class="form-group">
        {%csrf_token%}
        <div class="form-floating mb-3"> 
            {{form|crispy}}
            <button type="submit" class="btn btn-primary">
                <input type="submit" class="btn btn-primary">
            </button> 
        </div>
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endfor %}
    </form>
  </div>

{%endblock%}