{%extends "exchange/base.html"%}
{%block title%}
{%endblock%}
{%block content%}
{% if user.is_authenticated%}
    <h1>Books Avalilable: </h1>
    <form method="post">
      {% csrf_token %}
      {% for book in books %}
        <input type="checkbox" name="books" value="{{ book.id }}"> {{ book.title }} by {{book.author}}<br>
      {% endfor %}
      <input type="submit" value="Delete">
    </form>
    
  <!--   {% if book_removed %}
    <div class="alert alert-success" role="alert">
      <strong>Success!</strong> The book has been removed.
    </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> The book could not be removed.
        </div>
    {% endif %} -->

    <!-- book_removal.html -->
  <!--   {% if messages %}
    {% for message in messages %}
        {% if message.level == 'success' %}
        <div class="alert alert-success">{{ message }}</div>
        {% elif message.level == 'error' %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
    {% endfor %}
    {% endif %} -->

{%endif%}

{%endblock%}