{%extends "exchange/base.html"%}
{%block title%}
{% load static %}

{%endblock%}
{%block content%}


<link rel="stylesheet" href="{% static 'dashboard.css' %}">

<header>
  <h1>Book Exchange Dashboard</h1>
</header>
<nav>
  <ul>
    <li><a href="{% url 'add_book_request' user.id %}">Add Books</a></li>
    <li><a href="{% url 'request_books' request.user.id %}">Request</a></li>
    <li><a href="{% url 'remove_book' %}">Remove </a></li>
    
  </ul>
</nav>
<div class="mx-auto" style="width: 500px;">
  <br>
  <h1>Books Avalilable: </h1>
    <form method="post">
      {% csrf_token %}
      {% for book in books %}
        <input type="checkbox" name="books" value="{{ book.id }}"> {{ book.title }} by {{book.author}}<br>
      {% endfor %}
      <input type="submit" value="Delete">
    </form>
</div>



    
    
  <!--   {% if book_removed %}
    <div class="alert alert-success" role="alert">
      <strong>Success!</strong> The book has been removed.
    </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> The book could not be removed.
        </div>
    {% endif %} -->

    <!-- book_removal.html -->
  <!--   {% if messages %}
    {% for message in messages %}
        {% if message.level == 'success' %}
        <div class="alert alert-success">{{ message }}</div>
        {% elif message.level == 'error' %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
    {% endfor %}
    {% endif %} -->


{%endblock%}