{%extends 'exchange/base.html'%}
  {%block title%}
  {%endblock%}
  {% load static %}


{%block content%}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">

<header>
    <h1>Book Exchange Dashboard</h1>
</header>
  <nav>
    <ul>
      <li><a href="{% url 'add_book_request' user.id %}">Add Books</a></li>
      <li><a href="{% url 'request_books' request.user.id %}">Request</a></li>
      <li><a href="{% url 'remove_book' %}">Remove </a></li>
      
    </ul>
  </nav>


  <br>



 
<div clas="request-content">
  <h1 class="mb-5">Books available for request: </h1>
  <br>
  {%for book in books%}
    <ul class="list-group" style="width: 300px;">
      <li class="list-group-item">
        <a href="{% url 'book_details' book.id %}" style="color: black;">
          <img src="{% static 'images/bookicon.png' %}"   alt="Book cover" >
          <h4>{{book.title}}</h4>
          <p>Author : {{book.author}}</p>
        </a>
    </li>
    </ul>
  {%endfor%}
</div>

  
    

{%endblock%}

